.BoxContainer{

    background-color: white;
    padding: 2%;
    width: 79%;
    height: calc(96vh - 64px);
    overflow: auto;
    position: relative;
}

@media(max-width: 1200px){


    .BoxContainer{
        height: calc(100vh - 60px) !important;
        width: 100% !important;
        margin: 0% !important;
    }

}