.UploadBox{

background-color: transparent;
border: 1px solid;
display: grid;
place-items: center;
height: 75%;
position: relative;
margin: 5%;

}

#file-upload{
    align-items: center;
}

.form-control{
    margin-top: 2%;
    margin-bottom: 2%;

}

#btn-submit{
    position:fixed;
    bottom: 5%;
    right: 5%;
}

