.BoxContainer{
    position: relative !important;
    padding: 3% !important;
    padding-top: 5% !important;
    margin-bottom: 3% !important;
}
.BoxContainer::after {
    content: '';
    display: block;
    height: 50px; /* Adjust height for the extra space */
}

.Top-Form{
    
    position: relative;
}


#Top-Form .form-item{

    width: 50%;
    align-self: center;
    align-items: center;

}

#btn-Confirm{
    position: relative;
    float: right;
    margin-top: 3%;
    margin-bottom: 3%;
}

.pencil-btn {
    position: fixed;
    top: calc(64px + 30px); 
    right: 35px; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1rem; 
    border: 2px solid #00ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}

#btn-Action{

    float: right;
    margin-top: 2%;
}

#btn-accept{
    float: right;
    margin-top: 2%;
}

#btn-save{

    float: right;
    margin-top: 2%;
}

.pencil-btn i {
    color: white;
    font-size: 1rem !important;
}

.btn-success{

float: left;

}